VITE_APP_FIREBASE_API_KEY="AIzaSyCWRjYMXtwGAX3TFeDQDpCqOJ6qLHAulY4"
VITE_APP_FIREBASE_AUTH_DOMAIN="topprix-9a1db.firebaseapp.com"
VITE_APP_FIREBASE_PROJECT_ID="topprix-9a1db"
VITE_APP_FIREBASE_STORAGE_BUCKET="topprix-9a1db.firebasestorage.app"
VITE_APP_FIREBASE_MESSAGING_SENDER_ID="149519171356"
VITE_APP_FIREBASE_APP_ID="1:149519171356:web:28035e1db774454f9f04d9"
VITE_APP_FIREBASE_MEASUREMENT_ID="G-BTPCCF3RS3"
VITE_APP_BASE_URL="https://server.topprix.re/"
VITE_APP_OPENAPI="663dbc9ffe2e08f3f82073649c5a6373"